@import  './config/Global.css';


*{
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0;
  background-color: var(--Segunda);
}

  .price{
    color: red;
    text-align: right;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    
  }

    .logo{
      top: 1%;
      left: 1%;
      bottom: auto;
      right: auto;
      width: 15%;
      position: absolute;
      background: transparent;
    }